* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
  --dark: #212121
  --light: #f3f3f3
  --font: 'Odibee Sans', cursive;
}
body {
  font-family: 'Odibee Sans', cursive;
  font-size: 16px;
  width: 100%;
}